[Unit]
Description=Lightweight Kubernetes (k3s) agent
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
Environment="K3S_URL={{ k3s_url }}"
Environment="K3S_TOKEN={{ k3s_token }}"
ExecStart=/usr/local/bin/k3s agent {{ k3s_agent_args | join(' ') }}
Restart=always
RestartSec=5s
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target