[Unit]
Description=Lightweight Kubernetes (k3s) server
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/local/bin/k3s server {{ k3s_server_args | join(' ') }}{% if cluster_init %} --cluster-init {% endif %}{% if join_server %} --server {{ join_server }} --token {{ join_token }} {% endif %}
Restart=always
RestartSec=5s
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target